.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.bg-3f51b5{
  background: #3f51b5!important;
    color: #fff;
}
.b-btom{
  border-bottom: 1px solid #dddddd;
}
